services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: emenu_backend
    restart: always
    ports:
      - "9999:9999"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/e_menu_platform
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=Hour1819
    extra_hosts:
      - "host.docker.internal:host-gateway"
