services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: emenu_backend
    restart: always
    ports:
      - "9090:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
