version: "3.9"

services:
  backend:
    container_name: emenu_backend
    build:
      context: .
      dockerfile: Dockerfile

    # Cache Maven dependencies across builds
    volumes:
      - maven_repo:/root/.m2

    restart: always

    ports:
      - "9090:8080"

    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  maven_repo:
