version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Hour1819
      POSTGRES_DB: e_menu_platform
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5555:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c listen_addresses='*'
      -c password_encryption=md5
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d e_menu_platform"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: